<%- include("partials/header") %>         
        <div id="auth">
          <div class="container card">
            <div class="card-body">
                <form action="/signup" method="POST">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="username" name="username">                  
                    </div>
                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" id="email" name="email">                  
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" name="password">
                    </div>                    
                    <button type="submit">SignUp</button>
                    <p>or <a id="link" href="/login">Login</a></p>
                  </form>
            </div>
        </div>      
        </div>  
    </body>
</html>